/* .vote.awards .awards-con {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
} */

/* .vote.awards .awards-con__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 80px 0;
} */

/* .vote.awards .awards-con__btn a {
  background: url(../image/Rectangle.png);
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
} */

/* .vote-title {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  color: #000000;
} */

/* .vote-all,
.vote-year {
  display: inline-flex;
  width: 100px;
  height: 30px;
  padding: 8px 15px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  background: url(../image/Rectangle.png);
  width: 10%;
} */

/* .vote-all button,
.vote-year button {
  color: white;
  text-decoration: none;
  display: block;
  cursor: pointer;
  width: 100%;
  text-align: center;
  background: transparent;
  border: none;
  font-size: 16px;
} */

/* .vote-year {
  position: absolute;
  right: 0;
}

.vote-changeBtn {
  display: inline-flex;
} */

/* .vote-changeBtn button {
  margin-left: 10px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
} */

/* .btn-active {
  color: #cc0303;
} */

/* 
.vote-tab-box {


} */


.vote-tab-box .slick-current {
  transform: scale(1);
}

.vote-select-box {
  border-bottom: 3px solid #c1c1c1;
  width: 100%;
}

/* .vote-tab {
  max-width: 600px;
  overflow: hidden;
  vertical-align: top;
} */

/* .vote-tab-layout {
  margin: 0 auto;
  padding: 0 40px;
} */

/* .vote-tab-layout li {
  display: inline;
  width: 100%;
} */

/* .slider {
  width: 100%;
  margin-top: 30px;
} */

/* .slider-item,
.list-item {
  color: #333;
  padding: 40px 0;
  font-size: 1em;
  font-family: "Verdana";
  text-align: center;
}

.slider-item .desc {
  font-weight: bold;
  line-height: 30px;

} */